{
	"bot": {
		"token": "",
		"id": "1249134019329916968",
		"secretId": "",
		"port": 80,
		"callbackUrl": "http://localhost:80/auth/discord/callback",
		"scope": ["identify", "guilds.join"],
		"maxSearchPerDay": 500
	},

	"server": {
		"id": "1243249909595897866",
		"embed": "#000000"
	},

	"roles": {
		"customer": "1250404111392964608"
	},

	"owners": [
		"1187442455268831232"
	]
}